.columns__container {
    margin: 10px auto 0;

    @include flexible(space-between, start);
}

.columns-item {
    width: calc(100% / 3 - 15px);
    border: $border-dark;
    border-radius: 15px;
}

.columns-item__title {
    border-radius: 15px 15px 0 0;
    height: 50px;
    padding: 0 15px;

    @include flexible(space-between, center);

    @include font(20px, 24px);

    & h2 {
        display: inline-block;
    }
}

.columns-item__title-todo, .card-todo {
    background-color: $color-gray;
}

.columns-item__title-in-progress, .card-in-progress {
    background-color: $color-blue;
}

.columns-item__title-done, .card-done {
    background-color: $color-green;
}

.columns-item__cards {
    margin: 10px;
}

.card {
    padding: 0 10px;
}

.card__control {
    @include flexible(space-between, center);

    margin: 10px 0;
}

.btn {
    margin: 0;
}

.btn-select {
    width: 150px;
    margin-bottom: 0 !important;
    border: $border-dark;
    text-transform: uppercase;

    @include font(13px, 16px);
}

.btn-edit, .btn-delete {
    @include font(13px, 16px);

    border: $border-dark;
    text-transform: uppercase;
}

.btn-edit {
    margin: 0 6px;
}

.card__title, .card__description {
    margin: 0 0 10px;
}

.card__time {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 15px;
    max-width: 100px;
}

.card__user {
    max-width:150px;
}

.card:not(:last-child) {
    margin-bottom: 10px;
}

#btn-add {
    width: 100%;
    height: 50px;
    background-color: $color-gray;
    border-radius: 0px 0px 15px 15px;
}

#btn-del-all {
    width: 100%;
    height: 50px;
    background-color: $color-green;
    border-radius: 0px 0px 15px 15px;
}

.btn-cancel {
    margin-right: 10px;
    border: $border-dark;
}

.btn-confirm {
    border: $border-dark;
}

